//colors text

$grey-blue: #8291A3;
$grey: #686868;
$grey-light: #BDBDBD;
$violet: #664EF9;
$dark: #1E2123;
$red: #EB5757;
$yellow-dark: #FEB700;

//colors icon
$yellow: #FFD54F;

//colors background

$white-bg: #FFFFFF;
$grey-bg: #F8F8F8;
$grey-light-bg: #FFFEFE;
$violet-light-bg: rgba(102, 78, 249, 0.1);
$violet-bg-hover: rgba(92, 53, 249, 1);
$violet-light-bg-hover: rgba(102, 78, 249, 0.2);
$dark-transparent: rgba(255, 255, 255, 0.1);

//colors gradient

$violet-gradient: linear-gradient(90deg, rgba(148, 175, 255) 0%, rgba(107, 80, 233) 94.5%);
$violet-light-gradient: linear-gradient(90deg, rgba(148, 175, 255, 0.1) 0%, rgba(78, 100, 249, 0.1)94.5%)


